html {
    height: 100%
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(180deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%);
}

input,
select {
    padding: 10px;
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
}

button {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto; 
    display: block;
    cursor: pointer;
}

button:hover,
select:hover {
    opacity: 0.9;
}

select {
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: whitesmoke;
    padding: 20px;
}

a {
    color: #ED755C;
}

a:hover {
    cursor: pointer;
}

.container {
    width: 500px;
    display: inline block;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #34073d;
    border-radius: 5px;
}

.result {
    width: 60%;
    padding: 10px;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.reset-btn {
    background-color: #34073d;
    color: whitesmoke;
}

.error-msg {
    color: #ED755C;
}